html, body {
    height: 101%;
    overflow-x: hidden;
}

body {
    background-color: #FFCDD2;
    font-family: Helvetica, Arial, sans-serif;
}


#primeira-nav {
    background: rgba(0, 0, 0, .6);
    padding: 15px 0px;
}

.navbar .navbar-nav .nav-item {
    margin-left: 15px;
}

.navbar-light .navbar-nav .nav-link, .link-rodape a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.navbar-light .navbar-nav .cinza{
    color: #d9dadc;
}

.navbar-light .navbar-nav .nav-link:hover, .link-rodape a:hover {
    color: #1DB954;
    text-decoration: none;
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}


.capa {
    margin-top: 100px;
    text-align: center;
    color: black;
}

.btn-custom {
    margin-top: 40px;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 15px 48px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-verde {
    background: #1db954;
    color: white;
}

.btn-verde:hover {
    background: #21cf5e;
    color: white;
}

.btn-transparente {
    background: transparent;
    border: 2px solid black;
    color: black;
}

.btn-transparente:hover {
    color: black;
}

.termos {
    font-size: 12px;
    margin: 40px 0px;
    display: flex;
    justify-content: center;
}

.termos p {
    max-width: 630px;
}

.termos a {
    color: black;
    text-decoration: underline;
}

.termos a:hover {
    color: black;
    text-decoration: underline;
}


#spotify-gratis {
    background: url(../imgs/hero-burst-mobile.svg) no-repeat center/878px,
                linear-gradient(#F037A5 -60%, #FAE62D 140%);
    padding-bottom: 100px;
}

#spotify-gratis h1, h5 {
    color: white;
}


footer {
    background: black;
    padding-top: 65px;
    font-size: 14px;
}

footer p{
    text-transform: uppercase;
    color: #919496;
    font-weight: 900;
    font-size: 12px;
}

.link-rodape  li {
    margin: 10px 0px;
}

.link-rodape  li a {
    font-weight: 500;
}

.redes-sociais a{
    width: 50px;
    height: 50px;
    background: #222326;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    font-weight: 750;
    letter-spacing: -0.5px;
    margin-bottom: 40px;
}

h4 {
    font-weight: 700;
}

h5 {
    font-weight: 600;
}


@media (max-width: 575.98px) { 
    h5 {
        font-size: 1em;
    }

    #primeira-nav {
        background: rgba(0, 0, 0, 1);
        padding: 8px 0px;
    }

    .navbar-brand img {
        width: 89px;
    }

    .btn-custom {
        margin: 10px 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em;
    }

    h5 {
        font-size: 1em;
    }

    #primeira-nav {
        background: rgba(0, 0, 0, 1);
        padding: 8px 0px;
    }

    .navbar-brand img {
        width: 89px;
    }

    .footer p {
        margin-top: 20px;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 5em;
    }

    h4 {
        font-size: 2em;
    }

    #primeira-nav {
        background: rgba(0, 0, 0, 1);
        padding: 8px 0px;
    }

    .navbar-brand img {
        width: 89px;
    }
}
 

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 5em;
    }

    h4 {
        font-size: 2em;
    }

}


@media (min-width: 1200px) {
    h1 {
        font-size: 5em;
    }

    h4 {
        font-size: 2em;
    }
}